---
CompileFlags:
  CompilationDatabase: build/
  Add:
    - -std=c23
    - -Wno-unknown-attributes

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - misc-*
      - portability-*
    Remove:
      - modernize-*
      - cppcoreguidelines-*
      - fuchsia-*
      - google-*
      - misc-non-private-member-variables-in-classes
  Suppress:
    - packed

Hover:
  ShowAKA: true

Index:
  Background: Build

Completion:
  AllScopes: true